<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Jerome Etienne" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <a class="main"  href="/">Webpeer.it</a>
    <a class="extra" href="/download">Download</a>
    <a class="extra" href="/docs">Docs</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Webpeer.it
	<!-- webpeer badge start -->
	<script type="text/javascript" src="http://webpeer.it/js/webpeer.js"></script>
	<a href="http://webpeer.it"><img id="webpeer_badge" style="border-style: hidden" width="16" height="16"
	src="http://webpeer.it/images/badge/wait16trans.gif" title="Probbing webpeer"/></a>
	<script>webpeer.badge('webpeer_badge');</script>
	<!-- webpeer badge end -->
	<br/>
        web ubiquity + p2p efficiency
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://wiki.github.com/jeromeetienne/mw/">wiki</a><br />
      </p>
      <p>
          <a href="/about">about</a>
      </p>
      <p>
	built at {{ site.time }}
      </p>
    </div>
  </div>
</div>


</body>
</html>
